/*HEADER*/

.header-box {
  background: white;
  //min-height: 170px;
  box-shadow: 0 0px 5px $dark-gray;
  overflow: hidden;
  @media (max-width: $planshet) {
    height: auto;
    //min-height: 200px;
    padding-bottom: 5px;
    box-shadow: none;
  }
  @media (max-width: $phone) {
    box-shadow: none;
  }
}

.header__top {
  @include flexbox(row, wrap);
}

.header__top-cols {
  //-webkit-box-flex: 1;
//  -ms-flex: 1 0 190px;
  //flex: 1 0 190px;
  //margin: 0 10px 0;
  //min-height: 90px;
//  border: 1px solid black;
  @media (max-width: $planshet) {
  //  -webkit-box-flex: 1;
  //  -ms-flex: 1 1 100%;
  //  flex: 1 1 100%;
  //  min-height: 20px;
  }
  @media (max-width: $phone) {
    padding: 0 5px;
  }
}

.header__top-cols_logo {
//  -webkit-box-flex: 0;
  //-ms-flex: 0 0 220px;
//  flex: 0 0 220px;
  @media (max-width: $planshet) {

  }
  @media (max-width: $phone) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.header__top-cols_phone {
  text-align: center;
  @media (max-width: $phone) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

.header__top-cols_email {
  @media (max-width: $phone) {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}

.header__top-cols_addres {
//  -webkit-box-flex: 0;
  //-ms-flex: 0 0 220px;
//  flex: 0 0 220px;
  padding-top: 20px;
  @media (max-width: $planshet) {
  //  -webkit-box-flex: 1;
  //  -ms-flex: 1 1 100%;
  //  flex: 1 1 100%;
  }
  @media (max-width: $phone) {
  //  -webkit-box-flex: 1;
  //  -ms-flex: 1 1 100%;
  //  flex: 1 1 100%;
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
}

.header__logo {
  display: block;
  margin-top: 10px;
  max-width: 250px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  @media (max-width: $planshet) {
    margin: 15px auto;
    max-width: 350px;
  }
  @media (max-width: $phone) {
    max-width: auto;
    margin: 40px auto 10px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

.header__text {
  text-decoration: none;
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 1em;
  line-height: 1.4em;
  color: $black;
  font-weight: bold;
  @media (max-width: $planshet) {
    text-align: center;
    font-size: 1.4em;
    margin-top: 1.4em;
  }
  @media (max-width: $phone) {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1.4em;
  }
}

.header__phone {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 35px;
  font-size: 1.7em;
  line-height: 1.4em;
  color: $black;
  font-weight: bold;
  @media (max-width: $planshet) {
    text-align: center;
    font-size: 1.4em;
    margin-top: 1.4em;
  }
  @media (max-width: $phone) {
    text-align: center;
    font-size: 1.8em;
    margin-top: 1.4em;
  }
}
.header__phone:before {
  content: url("../images/icons-phone.svg");
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  display: inline-block;
  vertical-align: -10%;
  @media (max-width: $planshet) {
    vertical-align: -13%;
    content: url("../images/icons-phone.svg");
    width: 20px;
    height: 20;
  }
  @media (max-width: $phone) {
    vertical-align: -7%;
  }
}

.header__button {
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  padding: 0px 10px 1px;
  //height: 30px;
  background: $orange;
  text-align: center;
  cursor: pointer;
  color: white;
  vertical-align: middle;
  border-radius: 7px;
  line-height: 1.2em;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  -webkit-transition: all .5s;
  transition: all .5s;
  font: {
    size: 1.2em;
    weight: bold;
  }
  &:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.6);
  }
}

.header__email {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-transition: color .5s;
  transition: color .5s;
  display: block;
  &:hover {
    color: $orange;
  }
  &:before {
    content: url("../images/icons-mail_small.png");
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 21px;
    height: 15px;
    margin: 0 8px 0 0;
    display: inline-block;
    vertical-align: -17%;
    @media (max-width: $planshet) {
      vertical-align: -13%;
      content: url("../images/icons-mail.svg");
      width: 28px;
      height: 20;
    }
    @media (max-width: $phone) {
      vertical-align: -7%;
    }
  }
}



.header__addres {
  color: $dark-gray;
  @media (max-width: $phone) {
    display: none;
    margin: 0;
  }
}
