@charset "UTF-8";


/*TOP-MENU-SMALL*/
.top-menu-small {
  margin-top: 10px;
  min-height: 30px;
  flex: 0 0 100%;
  @media (max-width: $phone) {
    display: none;
  }
}

.top-menu-small__items {
  margin: auto;
  display: block;
  text-align: center;
  padding: 0;
}

.top-menu-small__item {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 20px;
}

.top-menu-small__item:nth-child(1) {
  margin: 0;
}

a.top-menu-small__link{
  color: $orange;
  text-decoration: none;
  &:hover{
    border-bottom: 1px dashed $dark-orange;
    transition: all 0.3s;
  }
  @media (max-width: $planshet) {
    font-size: 1.2em;
  }
}
/*

*Menu*
*/
.menu-box{
  background: white;
}
.menu {
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex-direction: column; }
@media (min-width: 992px) {
  .menu {
    flex-direction: row;
    overflow: visible; } }

.menu * {
  padding: 0;
  margin: 0; }

header {
  /*margin-top: 200px;*/ }

.menu ul, .menu li {
  list-style: none;
  margin: 0;
  padding: 0; }

.menu > ul {
  display: flex;
  justify-content: center; }

/*Самые первые пункты меню*/
.menu > ul li a {
  display: block;
  padding: 15px 25px 15px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  background: #fff;
  /* Old browsers */

  /*Цвет первых пунктов при навидении*/
  &:hover{
    transition: all 0.3s;
    color: #f30;
  }
}
.menu > ul>li:first-child a{
  padding: 15px 25px 15px 0;
  //padding: 15px 25px 15px 45px;
  @media all and (max-width: 992px) {
    padding: 15px 25px 15px 15px;
    }
}
  /*Все пункты relative, все списки подменю absolut, сдвинуты*/
.menu > ul li {
  position: relative; }

/*Иконки первых пунктов*/
.menu > ul li > a i.fa {
  position: absolute;
  left: 12px;
  top: 15px;
  font-size: 18px; }

/*Обводка по бокам меню*/


/*
*SUB MENU
*/
/*Пункты подменю*/
.menu li ul {
  position: absolute;
  min-width: 190px;
  display: none; }

.menu li > ul li {
  border-bottom: 1px solid #666; }
.menu li > ul li:hover {
  border-bottom: 1px solid #f30; }

/*Ссылки подменю, сам текст*/
.menu li > ul li a {
  padding: 10px;
  text-transform: none;
  background: #ffe9db; }

/*Второе подменю, отступ равен минимальной ширине подменю*/
.menu li ul li ul {
  position: absolute;
  right: -190px;
  top: 0; }

/*При наведении на пункт, следующий подпункт становится видимым*/
.menu li:hover > ul {
  display: block; }

.menu [type="checkbox"],
.menu label.submenu__toggle {
  display: none;
}

.menu label.menu__toggle {
  display: block;
  background: #e2e2e2;
  /* Old browsers */
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative; }
@media (min-width: 992px) {
  .menu label.menu__toggle {
    display: none;
  } }

.menu label.menu__toggle .fa {
  position: absolute;
  left: 15px; }

span.icon {
  display: none;
  float: right;
  margin-right: 8px;
  font-size: 16px;
  min-height: 100%;
  line-height: 40px; }
@media (min-width: 992px) {
  span.icon {
    display: inline-block; } }

span.icon::before {
  content: "\f105"; }

li:hover > span.icon {
  display: none; }

@media all and (max-width: 992px) {
  .menu ul {
    display: block;
    max-height: 0;
    transition: max-height 0.5s; }

  input.menu__toggle:checked + label.menu__toggle {
    background: #f30;
    color: #fff; }

  input.menu__toggle:checked ~ ul,
  input.submenu__toggle:checked ~ ul {
    display: block;
    position: relative;
    right: 0;
    max-height: 5000px;
    transition: max-height 2.5s; }

  .menu label.submenu__toggle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer; }

  input.submenu__toggle:checked ~ a {
    background: #454547;
    color: #fff;
    border: 1px solid black; }

  .menu label.submenu__toggle .fa:before {
    content: "\f0d7";
    position: absolute;
    font-size: 18px;
    right: 15px; }

  .menu input.submenu__toggle:checked ~ label.submenu__toggle .fa:before {
    content: "\f0d8";
    color: #fff; } }

/*# sourceMappingURL=style.css.map */
