/*MODAL*/
.form-row{
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
}


.form-row-1{
  width: 100%;
}
.form-col{
  padding-bottom: 6px;
  width: 100%;
}
.form-row input,.form-row textarea{
  width: 100%;
  padding: 15px 13px 18px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  font-size: 15px;
  transition: all 400ms cubic-bezier(0.25, .46, .45, .94);
}
.error input,.error textarea{
  border: 1px solid red;
}
.form-row input[type=file]{
  border: 1px solid black;
  padding: 0;
  position: absolute;
  cursor: pointer;
  /*opacity: 0;*/
  display: none;
}
.form-row input[type=file] + label{
  border-bottom: 1px dashed gray;
  padding-bottom: 3px;
  cursor: pointer;
}
.form-row input[type=file] + label + span{
  display: block;
  color: green;
}
.filebox{
  padding-bottom: 12px;
}
.form-row input:hover,.form-row textarea:hover{
  background: #f5ffff;
}
.form-row input:focus,.form-row textarea:focus{
  background: #ddffff;
}

.form-legend{
  display: block;
  margin-bottom: 6px;
}
.form-inner{
  display: flex;
  flex-direction: column;
}
.form-title{
  margin-bottom: 25px;
}
.form-title h2{
  margin: 5px;
  font-size: 40px;
  color: #151515;
}
.form-title h2, .form-title p{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.form-title p{
  margin-top: 12px;
  color: #7a7a7a;
}
.message{
  visibility: hidden;
}
.error .message{
  visibility: visible;
  color: red;
}
/*Plugin*/

.tingle-modal-box__content{
  padding: 30px;
}
.tingle-modal-box{
  max-width: 850px;
  width: auto;
}

@media screen and (max-width: 800px ){

}